requests
pyyaml
gitpython
boto3
tqdm
jsonschema
botocore
python-dateutil
paramiko
git-url-parse
rich
fastapi
starlette
uvicorn
pydantic
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability